[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
prometheus-flask-exporter = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"
black = "*"
setuptools = "*"
build = "*"
twine = "*"
requests = "*"

[scripts]
build = "python -m build"
dev = "sh -c 'ENABLE_LOGIN=true PYTHONPATH=. python api_utils/server.py'"
test = "sh -c 'PYTHONPATH=. pytest tests/ -v -m \"not e2e\"'"
e2e = "sh -c 'PYTHONPATH=. pytest tests/ -m e2e -v'"
lint = "black --check api_utils tests"
format = "black api_utils tests"
db = "de up mongodb"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
